<!doctype html>
<html class="polymer-ui-full-bleed">
  <head>
    <title>polymer-ui-carousel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- load toolkit -->
    <script src="bower_components/platform/platform.js"></script>

    <!-- load element -->
    <link rel="import" href="polymer-ui-carousel.html">

    <!-- load demo styles -->
    <link rel="stylesheet" href="bower_components/polymer-ui-base-css/base.css">
    <link rel="stylesheet" href="smoke.css">
    <style>
    polymer-ui-carousel #controls button {
      font-size: 15px;
    }
    </style>
  </head>

  <body class="polymer-ui-body-text polymer-ui-full-bleed polymer-ui-light-bg" unresolved>

  <polymer-ui-carousel labels="true">
    <div title="Alpha">One</div>
    <div title="Beta">Two</div>
    <div title="Gamma">Three</div>
    <div title="Delta">Four</div>
    <div title="Epsilon">Five</div>
  </polymer-ui-carousel>

  </body>
</html>